main {
    padding: 50px 100px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 6px 16px 0 rgb(20 12 162 / 8%);
    background: #fff;
}

header.main-header {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dadce0;
}

@media only screen and (max-width: 768px) {
    main {
        padding: 25px 50px;
    }
}